.printer-container {
  padding: 5px;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex {
  display: flex;
  align-items: center;
}
.space-between {
  justify-content: space-around;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.flex {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}

.steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  .milestone {
    width: 30%;
    mat-form-field {
      width: 280px;
    }
  }

  .weightage,
  .ribbon,
  .ribbon-status,
  .day {
    width: 15%;
    mat-form-field {
      width: 140px;
    }
  }
}

.custom {
  display: flex;
  align-items: center;
}

.mat-action-row {
  justify-content: flex-start;
  padding: 16px 0;
}

.ms-2 {
  margin-left: 6px;
}

.mb-20 {
  margin-bottom: 20px;
}

.container {
  padding: 5px;
}

.my-20 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}
